@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<container>
    <h2>İş Güvenliği Hakkında</h2>
    <img style="width:150px; height:100px" src="~/img/aletler.jpg">
    <h2>İş Güvenliği Nedir?</h2>
    <p>
        İş güvenliği, işyerlerinde çalışanların sağlığını ve güvenliğini korumayı amaçlayan önemli bir konudur. İş kazalarını ve meslek hastalıklarını önlemek için alınan tedbirlerle ilgilenir. İş güvenliği önlemleri, işyerlerindeki riskleri belirlemek, riskleri azaltmak veya ortadan kaldırmak için planlamalar yapmak, çalışanları bilgilendirmek ve eğitmek gibi adımları içerir. İş güvenliği, çalışanların güvenli bir ortamda çalışmalarını sağlayarak hem işverenlerin hem de çalışanların yararına olan bir konudur. Çalışanların iş güvenliği konusunda bilinçlenmesi ve iş güvenliği kurallarına uyulması, iş kazalarının ve meslek hastalıklarının önlenmesinde büyük önem taşır.
    </p>
</container>